/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

/* Deep Indigo + Burnt Orange
	•	Indigo: #1F2A44
	•	Orange: #E07A3F */
:root {
  --primaryColor: #1f2a44;
  --secondaryColor: #e07a3f;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bgp {
  background-color: var(--primaryColor);
  color: whitesmoke;
}

.bgs {
  background-color: var(--secondaryColor);
  color: whitesmoke;
}

.pText {
  color: var(--primaryColor);
}
.sText {
  color: var(--secondaryColor);
}

section {
  width: 90%;
}

/* small devices */
@media (max-width: 640px) {
  section {
    margin: 10px auto;
  }
}

.active {
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
}
